<div class="row">
  <ul class="tabs location-tabs mrg-btm-0" materialize="tabs">
    <li
      class="tab"
      *ngFor="let tab of orderTabsArr"
    >
      <a
        href="#{{tab}}Tab"
        appHasClass="active"
        (hasClassChange)="activeChange($event, tab)"
      >{{tab}}</a>
    </li>
  </ul>
</div>
<app-all-orders-list id="{{orderTabs.all}}Tab"></app-all-orders-list>
<app-open-orders-list id="{{orderTabs.open}}Tab"></app-open-orders-list>
<app-received-orders-list id="{{orderTabs.received}}Tab"></app-received-orders-list>
<app-backordered-orders-list id="{{orderTabs.backordered}}Tab"></app-backordered-orders-list>
<app-reconciled-orders-list id="{{orderTabs.reconciled}}Tab"></app-reconciled-orders-list>
<app-closed-orders-list id="{{orderTabs.closed}}Tab"></app-closed-orders-list>
<app-flagged-orders-list id="{{orderTabs.flagged}}Tab"></app-flagged-orders-list>
<app-favorited-orders-list id="{{orderTabs.favorited}}Tab"></app-favorited-orders-list>