<div class="product-page">
  <div class="close fa fa-chevron-left" (click)="goBack()"></div>
  <div class="title">{{showVariant ? 'Product Variation' : 'Product Details' }}</div>

  <div class="row right edit-buttons">
    <button class="bt-edit-product edbtn bluebtn" *ngIf="!showEdit" (click)="showEditFields()">
      <fa [name]="'pencil'"></fa>
      Edit
    </button>
    <button class="bt-edit-product-save edbtn bluebtn" (click)="saveAfterEdit()" *ngIf="showEdit">
      <fa [name]="'check'"></fa>
      Save
    </button>

  </div>
  <div class="inner" [ngClass]="{'edit-mode':showEdit}">

    <div class="row uptracker-form">

      <div class="info-box col s12" [class.condensed]="showVariant">
        <div class="img-container left">
          <div class="img file-field" *ngIf="!showVariant || showVariant && !currentVariant?.image"
            [ngStyle]="{ 'background-image': 'url(' + (productCopy?.image || product?.image || '/assets/img/onboard/icon-onboarding-products.svg') + ')' }">
            <input *ngIf="showEdit" type="file" (change)="uploadLogo($event)" />
          </div>
          <div class="img file-field" *ngIf="showVariant && currentVariant?.image"
            [ngStyle]="{ 'background-image': 'url(' + (currentVariant?.image) + ')' }">
            <input *ngIf="showEdit" type="file" (change)="uploadLogo($event)" />
          </div>
        </div>
        <div class="left product-params">

          <div class="ttl-box input col s12" *ngIf="product?.name != null">
            <label *ngIf="!showEdit" class="variant-show-name">
              {{ showVariant ? currentVariant.name : product?.name}}
            </label>
            <div>
              <input (click)="$event.stopPropagation();"
                class="name-field"
                *ngIf="showEdit"
                [(ngModel)]="productCopy.name"
                type="text">
            </div>
            <div *ngIf="!showEdit" [class.variant-show-name]="product?.name == null" class="relative">
              {{ showVariant ? currentVariant.proper_name : product?.proper_name}}
              <a class="header-helper" (click)="openHelperModal(helpText.technicalName)">?</a>
            </div>
            <div>
              <input (click)="$event.stopPropagation();"
                class="name-field"
                *ngIf="showEdit"
                [(ngModel)]="productCopy.proper_name"
                type="text">
            </div>

          </div>

          <div class="row mrg-btm-20" [ngClass]="{'checks':showEdit}">

            <div class="col m3" [class.l2]="!showEdit" >
              <div *ngIf="!showEdit" class="">
                <label>Hazardous</label>
                <span class="value">
                  <a *ngIf="product?.hazardous && product?.msds" target="_blank" [href]="product?.msds">{{product?.hazardous_string}}</a>
                  <div  *ngIf="!product?.hazardous  && !product?.msds">{{product?.hazardous_string}}</div>
                </span>
              </div>
              <div *ngIf="showEdit" class="input-checkbox checkbox">
                <label>Hazardous</label>
                <input
                  type="checkbox"
                  class="checkbox-input"
                  [(ngModel)]="productCopy.hazardous"
                  id="checkbox1"
                />
                <label for="checkbox1"></label>
              </div>
            </div>

            <div class="col m3" [class.l2]="!showEdit" >
              <div *ngIf="!showEdit" class="relative">
                <label>Trackable</label>
                <a class="header-helper" (click)="openHelperModal(helpText.trackable)">?</a>
                <div class="value">{{product?.trackable_string}}</div>
              </div>
              <div *ngIf="showEdit" class="input-checkbox checkbox">
                <label>Trackable</label>
                <input
                  type="checkbox"
                  class="checkbox-input"
                  [(ngModel)]="productCopy.trackable"
                  id="checkbox2"
                />
                <label for="checkbox2"></label>
              </div>
            </div>

            <div class="col m3" [class.l2]="!showEdit" >
              <div *ngIf="!showEdit" class="relative">
                <label>Tax Exempt</label>
                <a class="header-helper" (click)="openHelperModal(helpText.taxExempt, 'https://www.investopedia.com/terms/u/use-tax.asp')">?</a>
                <div class="value">{{product?.tax_exempt_string}}</div>
              </div>
              <div *ngIf="showEdit" class="input-checkbox checkbox">
                <label>Tax Exempt</label>
                <input
                  type="checkbox"
                  class="checkbox-input"
                  [(ngModel)]="productCopy.tax_exempt"
                  id="checkbox3"
                />
                <label for="checkbox3"></label>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col m3 input" [class.l2]="!showEdit">
              <label>Manufacturer</label>
              <div *ngIf="!showEdit" class="value">{{product?.manufacturer}}</div>
              <div>
                <input (click)="$event.stopPropagation();"
                  class="name-field"
                  *ngIf="showEdit"
                  [(ngModel)]="productCopy.manufacturer"
                  type="text">
              </div>
            </div>
            <div class="col m3 input" [class.l2]="!showEdit" >
              <label>Department</label>
              <div *ngIf="!showEdit" class="value">{{product?.department}}</div>
              <div *ngIf="showEdit" class="select">
                <select
                  [(ngModel)]="productCopy.department"
                  materialize="material_select"
                  [materializeSelectOptions]="departmentCollection">
                  <option *ngFor="let item of departmentCollection" [value]="item">{{item}}</option>
                </select>
              </div>
            </div>

            <div class="col m3 input" [class.l2]="!showEdit" >
              <label>Category</label>
              <div *ngIf="!showEdit" class="value">{{product?.category}}</div>
              <div *ngIf="showEdit" class="select">
                <select
                  [(ngModel)]="productCopy.category"
                  materialize="material_select"
                  [materializeSelectOptions]="productCategoriesCollection">
                  <option *ngFor="let cat of productCategoriesCollection" [value]="cat">{{cat}}
                  </option>
                </select>
              </div>
            </div>

            <div class="relative col m3 input" [class.l2]="!showEdit">
              <label>Accounting</label>
              <a class="header-helper" (click)="openHelperModal(helpText.accounting)">?</a>
              <div *ngIf="!showEdit" class="value">{{product?.account_category}}</div>
              <div *ngIf="showEdit" class="select">
                <select
                  [(ngModel)]="productCopy.account_category"
                  materialize="material_select"
                  [materializeSelectOptions]="productAccountingCollection">
                  <option *ngFor="let acc of productAccountingCollection" [value]="acc">{{acc}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let attr of currentVariant.custom_attr" class="col s2">
              <label class="top">{{attr.name}}</label>
              <div class="value">{{attr.value}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>


    <div class="row table-head-filter">
      <div class="col s12">
        <ul class="tabs" materialize="tabs">
          <li class="tab col s2">
            <a href="#variations">{{showVariant ? 'Vendors' : 'Variations'}}</a>
          </li>
          <li class="tab col s2">
            <a href="#info">Info</a>
          </li>
          <li class="tab col s2">
            <a href="#inventory">Inventory</a>
          </li>
          <li class="tab col s2" *ngIf="product?.trackable && !showVariant">
            <a href="#tracking">Tracking</a>
          </li>
          <li class="tab col s2">
            <a href="#history">Order History</a>
          </li>
          <li class="tab col s2">
            <a href="#comments">Comments</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="variations">
      <div *ngIf="!showVariant" class="inner product">
        <div class="variant-table">
          <div class="variant-head row">
            <div class="col m6 flex-center">
              <div class="checkbox input-checkbox left">
                <input
                  type="checkbox"
                  class="checkbox-input"
                  (change)="headCheckboxChange()"
                  id="variation-checkbox"
                  [(ngModel)]="variation.checked"
                />
                <label for="variation-checkbox"></label>
              </div>

              <div *ngIf="!showEdit" class="add-checked-btn">
                <button
                  (click)="bulkAddToOrder()"
                  class="uptracker-form-btn waves-light waves-effect add-order-btn"
                  [disabled]="!addOrderVariantsButtonShow">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
              </div>

            </div>
            <div class="col m2">
              <div class="input">
                <input
                  type="text"
                  class="name-input"
                  ngModel
                  (input)="changeName($event)"
                  placeholder="Search"
                  #name="ngModel"/>
              </div>
            </div>

            <div class="col m2 s3 select low-height sortby">
              <select (change)="sortBy($event)" materialize="material_select">
                <option disabled value="">Sort by</option>
                <option value="asc">A-Z</option>
                <option value="desc">Z-A</option>
              </select>
            </div>

            <div class="col m2 s3 select">
              <select materialize="material_select" [(ngModel)]="selectedPrice">
                <option value="price_per_unit">Price per Unit</option>
                <option value="price_per_inner">Price per Inner</option>
                <option value="price_per_outer">Price per Outer</option>
              </select>
            </div>

          </div>
        </div>

        <div class="table-body">
          <div class="variant-table">
            <div class="uptracker-form  table-item" *ngFor="let variant of filteredVariants$ | async">
              <div class="row">
                <div class="col s8 m8">
                  <div class="row-item">
                    <div class="checkbox input-checkbox">
                      <input
                        type="checkbox"
                        class="checkbox-input"
                        [(ngModel)]="variant.checked"
                        (change)="variantCheckedChange(variant.checked)"
                        id="{{variant.id}}"
                      />
                      <label for="{{variant.id}}"></label>
                    </div>
                  </div>
                  <div class="variant-image-container left"
                    [ngStyle]="{ 'background-image': 'url(' + (variant?.image || '/assets/img/onboard/icon-onboarding-products.svg') + ')' }">
                  </div>
                  <div class="variant-name">
                    <div
                      *ngIf="!showEdit"
                      [class.reddish]="variant.status == 2"
                    >
                      <div class="table-header">{{variant.name || "Product Here"}}</div>
                      <div>{{variant?.proper_name}}</div>
                    </div>
                    <div *ngIf="showEdit" class="input">
                      <input class="col s12 name-field greenborder" [(ngModel)]="variant.name" type="text">
                    </div>
                    <div *ngIf="!showEdit"
                      (click)="addToOrder(variant)"
                      class="add-order-col add-order-heading">
                      <button class="uptracker-form-btn waves-light waves-effect add-order-btn">
                        <i
                          class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Auto
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col s4 m4">
                  <div class="row">
                    <div class="col s6">
                          <label>UPC</label>
                          <div>{{variant?.upc}}</div>
                          <label>Manufacture #</label>
                          <div>{{variant?.mfg_number}}</div>
                    </div>
                    <div class="col s6">
                      <div class="row">
                        <div class="col s12">
                          <label>Forum Price</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6">Per Unit</div>
                        <div class="col s6">{{variant?.forum_unit_price}}</div>
                      </div>
                      <div class="row">
                        <div class="col s6">Per Inner</div>
                        <div class="col s6">{{variant?.forum_sub_package_price}}</div>
                      </div>
                      <div class="row">
                        <div class="col s6">Per Outer</div>
                        <div class="col s6">{{variant?.forum_package_price}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <app-variant-short-detail [showEdit]="showEdit"
                [product_id]="product_id"
                [variant]="variant"
                [selectedPrice]="selectedPrice"
                (addToOrderWithVendor)="addToOrder(variant, $event)"
                >
              </app-variant-short-detail>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div id="inventory">
      <div *ngIf="showVariant" class="inner">
        <div *ngFor="let inv of currentVariant.trimmed_inventory; let i=index;">
          <div *ngIf="currentLocation[currentVariant.id] ? inv.location_id==currentLocation[currentVariant.id] : i==0">
            <app-inventory-detail
              [(vis)]="currentVariant.detailView"
              [variant]="inv">
            </app-inventory-detail>
          </div>
        </div>
      </div>
      <div *ngIf="!showVariant" class="inner">
        <div class="variant-table">
          <div class="uptracker-form variant-head">
            <div class="head-item">
              Variation
            </div>
            <div class="head-item">
              Total
            </div>
            <div class="head-item">
              Primary Location
            </div>
            <div class="head-item">
              Secondary Location
            </div>
            <div class="head-item">
              Tertiary Location
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="table-body">
          <div class="variant-table">
            <div class="uptracker-form  table-item" *ngFor="let variant of filteredVariants$ | async">

              <div class="name-heading row-item valign-wrapper">
                        <span [class.reddish]="variant.status == 2" class="valign tealish-text"
                          (click)="toggleVariantDetailView(variant)">{{variant.name || "Product Here"}}
                        </span>
              </div>
              <div class="small-heading row-item">{{variant.total_inventory}}</div>
              <div *ngFor="let inv of variant.trimmed_inventory; let i=index;"
                [class.selected]="currentLocation[variant.id] ? (inv.location_id==currentLocation[variant.id] && variant.detailView) : (i==0 && variant.detailView)"
                class="small-heading row-item"
                (click)="inv.current_inventory ? changeSelected(inv.location_id,variant.id) : void">
                {{inv.current_inventory || ''}}
              </div>
              <div class="clearfix"></div>
              <div *ngIf="variant.detailView">
                <div *ngFor="let inv of variant.trimmed_inventory; let i=index;">
                  <div *ngIf="currentLocation[variant.id] ? inv.location_id==currentLocation[variant.id] : i==0">
                    <app-inventory-detail
                      [(vis)]="variant.detailView"
                      [variant]="inv">
                    </app-inventory-detail>
                  </div>
                </div>
                <div class="right variant-detail-collapse">
                  <span (click)="inventoryDetailCollapse(variant)"><i class="fa fa-chevron-up" aria-hidden="true"></i> Collapse</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="tracking" *ngIf="product?.trackable">
      <div class="inner">
        Tracking tab
      </div>
    </div>
    <div id="info">
      <div class="inner uptracker-form">
        <div class="row">
          <div class="ttl col s12">
            Description
          </div>
          <div *ngIf="showEdit" class="col s12 textarea">
            <textarea placeholder="Type here" class="col s12 " [(ngModel)]="productCopy.description"></textarea>
          </div>
          <div *ngIf="!showEdit" class="col s12 bold">
            {{product?.description}}
            <i class="no-info" *ngIf="!product?.description">No additional information</i>
          </div>
        </div>
        <div class="row">
          <div class="ttl col s12">
            Notes
          </div>
          <div *ngIf="showEdit" class="col s12 textarea">
            <textarea placeholder="Type here" class=" col s12 " [(ngModel)]="productCopy.notes"></textarea>
          </div>
          <div *ngIf="!showEdit" class="col s12 bold">
            {{product?.notes}}
            <i class="no-info" *ngIf="!product?.notes">No additional information</i>
          </div>
        </div>
        <div class="row mbot0">
          <div class="col s6 ">
            <div class="row mbot0">
              <div class="ttl col s12">
                MSDS
              </div>
              <div *ngIf="showEdit" class="col s12 input">
                <input placeholder="Enter URL" class="col s12" [(ngModel)]="productCopy.msds" type="text">
              </div>
              <div *ngIf="!showEdit" class="col s12">
                <a href="#">{{product?.msds}}</a>
                <i class="no-info" *ngIf="!product?.msds">No additional information</i>
              </div>
            </div>
            <div *ngIf="!showEdit" class="row">
              <div class="ttl col s12">
                Hazardous Form
              </div>
              <div class="col s12">
                <a href="#">{{product?.hazardous_form}}</a>
                <i class="no-info" *ngIf="!product?.hazardous_form">No additional information</i>
              </div>
            </div>
          </div>
          <div class="col s6 ">
            <div *ngIf="showEdit" class="row mbot0">
              <div class="ttl col s12">
                Hazardous Form
              </div>
              <div class="col s12 input">
                <input placeholder="Enter URL" class="col s12" [(ngModel)]="productCopy.hazardous_form"
                  type="text">
              </div>
            </div>
            <div *ngIf="!showEdit && hasDocs" class="row">
              <div class="ttl col s12">
                Documents
              </div>
              <div class="col s12">
                <div *ngFor="let doc of doc$ | async">
                  <a href="{{doc.uri}}" target="_blank">{{doc.file_name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="showEdit" class="row">
          <div class="ttl col s12 mbot10">
            Documents
          </div>
          <div class="col s6">
            <div class="img-container-edit col s12" title="Drop files here" fileDrop
              [ngClass]="{'file-is-over': fileIsOver}"
              [options]="options"
              (fileOver)="fileOver($event)"
              (onFileDrop)="onFileDrop($event)">
            </div>
          </div>
          <div *ngIf="hasDocs || hasFiles" class="col s6">
            <div *ngFor="let doc of doc$ | async; let index = $index">
              <div class="col s10">
                <a href="{{doc.uri}}">{{doc.file_name}}</a>
              </div>
              <div class="col s2" (click)="removeDoc(doc, index)">
                <i class="fa fa-trash"></i>
              </div>
            </div>
            <div class="new-file-list" *ngFor="let file of file$ | async; let index = $index">
              <div class="col s10">
                {{file.name}}
              </div>
              <div class="col s2" (click)="removeFile(file, index)">
                <i class="fa fa-trash"></i>
              </div>
            </div>
          </div>
          <div *ngIf="!hasDocs && !hasFiles" class="col s6 no-docs">
            <div class="ttl">Document</div>
            <div class="grey-text mbot10">Please upload documents with max size 10MB</div>
            <div>
              <input type="file" (change)="onFileUpload($event)" id="file-upload-dialog" class="hidden">
              <label for="file-upload-dialog" class="tealish-text normal-size cursor-pointer">Upload a document
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="history">
      <div class="inner">
        <div class="variant-table">
          <div class="uptracker-form variant-head">
            <div class="head-item">
              Variation
            </div>
            <div class="head-item">
              Qty
            </div>
            <div class="head-item">
              Location
            </div>
            <div class="head-item">
              Status
            </div>
            <div class="head-item">
              Ordered
            </div>
            <div class="head-item">
              Received
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="table-body">
          <div class="variant-table">
            <div class="uptracker-form  table-item"
              *ngFor="let order of showVariant ? (filteredOrders$ | async) : (orders$ | async)">
              <div class="name-heading variant-name row-item valign-wrapper">
                            <span class="valign"
                              (click)="toggleVariantDetailView(order)">{{order.variant_name }}</span>
              </div>
              <div class="small-heading row-item">{{order.quantity}}</div>
              <div class="small-heading row-item">{{order.location_name}}</div>
              <div class="small-heading row-item">{{order.status}}</div>
              <div class="small-heading row-item">{{order.order_date}}</div>
              <div class="small-heading row-item">{{order.received_date}}</div>
              <div class="clearfix"></div>
              <app-history-detail [order]="order" *ngIf="order.detailView"></app-history-detail>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="comments">
      <div class="inner">

        <form class="uptracker-form" (submit)="sendComment()" #commentForm="ngForm" novalidate autocomplete="off">
          <div class="input row textarea-row">
            <div class="label col s12">Add Comment</div>
            <div class="col s10">
              <div class="textarea">
              <textarea id="comments-textarea" class="validate materialize-textarea" name="comment_body" required
                #inputComment [(ngModel)]="comment.body"></textarea>
              </div>
            </div>
            <div class="buttons col s2">
              <button class="btn white-text waves-effect waves-light" [disabled]="!commentForm.valid">Send
              </button>
            </div>
          </div>
        </form>

        <div class="comments">
          <ul class="collection">
            <li class="collection-item avatar" *ngFor="let comment of filteredComments$ | async">
              <img [src]="comment.author_avatar || ''" class="responsive-img circle author-avatar">
              <span class="title">{{comment.author_name}}</span>
              <span class="date">{{comment.created_at}}</span>
              <span class="edit-comment" *ngIf="comment.author_id==userService.selfData.id"
                (click)="editComment(comment)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
              <p [innerHtml]="comment.body"></p>
              <div class="secondary-content" *ngIf="comment.author_id==userService.selfData.id">
                <div class="delete-comment " (click)="deleteComment(comment)">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
