@import "../../../../colors";
:host /deep/ {
  background-color: rgba(255, 255, 255, 0.6);
  display: block;
  padding: 10px;
  margin-bottom: 20px;

  .col {
    padding: 0 0.25rem;
  }

  .fa-barcode {
    color: $tealish;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 6px;
  }

  input[appCurrencyUsdFormat] {
    color: $grey;
  }
  .dirty {
    color: $black;
  }

  input{
    margin: 0 !important;
    box-sizing:border-box;
    background-color: $white;
    border-radius: 3px !important;
    border-color: $light-grey !important;

  }

  .add-padding{
    padding-left: 20px!important;
  }
  .add-number-one{
    position: relative;
  }
  .add-number-one:after{
    content: "1";
    display:block;
    position: absolute;
    left:10px;
    top:50%;
    transform:translateY(-50%);
  }

  .bluebtn {
    margin: 0;
  }

  .vendor-title {
    height: 24px;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $black;
  }

  .sub-title {
    height: 22px;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $dark;
  }

  input[type="text"]{
    height:30px;
    border:1px solid $light-grey;
    border-radius:5px;
    background-color: $white;
    padding-left:5px;
    &:focus{
      border-color: $tealish;
    }
  }

  .flex {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .label {
    padding-left: 10px;
    font-size: 20px;
  }

  .input-checkbox {
    padding-right: 10px;
  }


  @media (max-width: 800px) {
    .uptracker-form-btn,
    .bluebtn {
      min-width: 50px;
    }
  }

  .package {
    position: relative;
    &:hover {
      fa[name="times-circle"] {
        opacity: 1;
      }
    }
  }

  fa[name="times-circle"]{
    font-size: 16px;
    cursor: pointer;
    color: $mid-grey;
    opacity: 0;
    transition: all .3s;
    right: 0;
  }

  fa[name="angle-down"] {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 20px;
  }

  .ttl {
    padding-left: 0.75rem;
    padding-bottom: 7px;
  }

  .add-button {
    height: 17px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $tealish;
  }

}



