@import "../../../../colors";

:host /deep/ {
  .close {
    display: block !important;
  }

  .img-container {
    width: 140px;
    height: 140px;
    border: 1px solid $light-grey;

    .img {
      height: 100%;
      background-position: center center;
      background-size: cover;
    }
  }

  .uptracker-form-btn {
    height: 35px;
    line-height:20px;
    min-width: 100px;
    background: $tealish;

    &[disabled] {
      background: $grey!important;
      pointer-events: none;
    }

  }

  .product-variant {
    width: 100%;
    height: 25px;
    margin: 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $tealish;
    border-radius: 5px;
  }

  .bluebtn {
    padding: 0 10px;
    font-size: 12px;
    line-height: 28px;
    height: 30px;
    min-width: 80px;
    background: $tealish;
    color: #fff;
    border-radius: 5px;
  }
}
