<div *ngIf="showEditArea" class = "edit-logo-img col s12 center-align">
  <div class="">
    <img-cropper  #cropper [image]="dataCropImg" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
    <div class="edit-btn-group">
      <button class="uptracker-form-btn bluebtn waves-effect waves-light" (click) = "rotateBase64Image(dataCropImg.image)">
        Rotate logo
      </button>
      <button class="uptracker-form-btn bluebtn waves-effect waves-light" (click)="showEditArea = false; saveBlob(dataCropImg.image)">
        Save logo
      </button>
    </div>
  </div>
</div>
<div class="col s12 center-align">
  <div class="col s12">
    <div class="img-container">
      <div class="img" *ngIf="dataCropImg.image" [ngStyle]="{ 'background-image': 'url(' + dataCropImg.image + ')' }">
        <div class="del-img-btn" (click)="dataCropImg.image = ''">
          <i class="material-icons">delete</i>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div>
      Vendor logo
    </div>
    <div>
      Please upload a JPG or PNG max size 10 MB
    </div>
    <div class="input add-attachment">
      <div class="file-field">
        <div class="upload-link">
          <input type="file" (change)="fileChangeListener($event)">
          <a>Upload a logo</a>
        </div>
      </div>
    </div>
  </div>
</div>
