@import "../../../../colors";

:host /deep/ {
  .edit-logo-img{
    display:inline-block;
    margin-bottom: 20px;
    .edit-btn-group{
      margin-top: 10px;
      button{
      color: #fff;
    }
      button:first-child{
        margin-right: 20px;
        color: #fff;
      }
    }
  }

  .img-container {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background: #f5f6f7 no-repeat center center;
    border: 1px dashed #d6d6d6;
    max-width: 100%;
    .img {
      height: calc(100%);
      overflow: hidden;
      text-align: center;
      background-color: #f5f6f7;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: relative;
      z-index: 5;
      border-radius: 5px;
      .del-img-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        text-align: center;
        background: #f1f1f1;
        border: 1px solid #d6d6d6;
        border-radius: 5px;
        z-index: 4;
        cursor: pointer;
        opacity: .7;
      }
    }
  }
  .bluebtn {
    padding: 0 10px;
    font-size: 12px;
    line-height: 28px;
    height: 30px;
    min-width: 80px;
    background: $tealish;
    color: $white;
    border-radius: 5px;
    margin-top:-2px;
    box-shadow:none;
    border:none;
  }

}

