$tealish: #33c6d9;

.input-checkbox {
  margin-right: 5px;
}
.float-right {
  float: right;
}
.table-body, .table-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.table-body {
  min-height: 46px;
  border-top: 1px solid #d6d6d6;
  .show-hover-elem {
    display: none;
  }
  &:hover .show-hover-elem {
    display: inherit;
  }
}
.variant-detail-wrapper {
  margin-top: 20px;
  padding-left: 3.5%;
  border-top: 1px solid #d6d6d6;
}