<div class="variant-detail-wrapper">
    <div *ngIf='variant?.custom_attr && variant?.custom_attr.length' class="variant-detail-top">
        <div *ngFor="let attr of variant.custom_attr" class="variant-detail-top-item">
            <div class="top">{{attr.name}}</div>
            <div>{{attr.value}}</div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row table-header">
        <div class="col s2">Vendor</div>
        <div class="col s2">Catalog #</div>
        <div class="col s1">Outer Pkg <div class="float-right">=</div></div>
        <div class="col s1">Inner Pkg <div class="float-right">=</div></div>
        <div class="col s1">Units</div>
        <div class="col s2">Total Consumable Units</div>
        <div class="col s2 select">
            <select materialize="material_select" [(ngModel)]="selectedPrice" class="price-select">
                <option value="unit_price">Price per Unit</option>
                <option value="sub_package_price">Price per Inner</option>
                <option value="package_price">Price per Outer</option>
            </select>
        </div>
        <div class="col s1"></div>
    </div>
<div *ngFor="let item of variant.vendor_variants" class="row table-body" [class.tealish-text]="item.checked">
    <div class="col s2">
        <a [routerLink]="'/vendors/view/'+[item.vendor_id]" target="_blank">
            {{item.vendor_name}}
        </a>
    </div>
    <div class="col s2">{{item?.catalog_number}}</div>
    <div class="col s1">{{item?.package_type || 'N/A'}}</div>
    <div class="col s1">{{(item?.sub_package_per_package) ? item?.sub_package_per_package : ''}} {{item?.sub_package || 'N/A'}}</div>
    <div class="col s1">{{item?.units_per_sub_package || item?.units_per_package}} {{item?.unit_type}}</div>
    <div class="col s2">{{item?.units_per_package}} {{item?.unit_type}}</div>
    <div class="col s2">
        {{item[selectedPrice]}}
    </div>
    <div class="col s1">
        <button (click)="addToOrder(item)" class="show-hover-elem uptracker-form-btn waves-light waves-effect add-order-btn">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
    </div>
</div>
    <div class="clearfix"></div>
</div>