<div class="inner edit-mode">

  <div class="row">
    <div class="col s2">
      <div class="close fa fa-chevron-left" (click)="goBack()" *ngIf="step == 0"></div>
      <button class="uptracker-form-btn back-btn tealish tealish-text waves-effect waves-light"
              (click)="step=step-1;" *ngIf="step != 0">
        <fa name="chevron-left"></fa>
        Back
      </button>
    </div>
    <div class="col s8 center-align">
      <div class="main-title">Add custom product</div>
    </div>
    <div class="col s2 right-align">
      <button *ngIf="step != 2" [disabled]="!canProceed()"
              class="uptracker-form-btn white-text waves-effect waves-light" (click)="step=step+1">
        Next
      </button>
      <button *ngIf="step == 2" [disabled]="productNotValid()"
              class="uptracker-form-btn white-text waves-effect waves-light" (click)="onSubmit()">
        Save
      </button>
    </div>
  </div>

  <div *ngIf="showEditArea" class = "edit-logo-img">
    <div class="">
      <img-cropper  #cropper [image]="dataCropImg" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
      <div class="edit-btn-group">
        <button class="uptracker-form-btn  waves-effect waves-light" (click) = "rotateBase64Image(dataCropImg.image)">
          Rotate logo
        </button>
        <button class="uptracker-form-btn  waves-effect waves-light" (click)="showEditArea = false; saveBlob(dataCropImg.image)">
          Save logo
        </button>
      </div>
    </div>
  </div>


  <div class="row uptracker-form" *ngIf="step == 0">
    <div class="col s12 m3 center-align">
      <div class="col s12">
        <div class="img-container">
          <!--<div class="img" *ngIf="logoPreview" [ngStyle]="{ 'background-image': 'url(' + logoPreview + ')' }">-->
            <!--<div class="del-img-btn" (click)="logoPreview = ''">-->
              <!--<i class="material-icons">delete</i>-->
            <!--</div>-->
          <!--</div>-->
          <div class="img" *ngIf="dataCropImg.image" [ngStyle]="{ 'background-image': 'url(' + dataCropImg.image + ')' }">
            <div class="del-img-btn" (click)="dataCropImg.image = ''">
              <i class="material-icons">delete</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div>
          Vendor logo
        </div>
        <div>
          Please upload a JPG or PNG max size 10 MB
        </div>
        <div class="input add-attachment">
          <div class="file-field">
            <div class="upload-link">
              <!--<input type="file" accept="image/*" (change)="uploadLogo($event)"/>-->
              <!--<a>Upload a logo</a>-->
              <input type="file" (change)="fileChangeListener($event)">
              <a>Upload a logo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info-box col s12 m9">
      <div class="ttl-box row input">
        <div class="col s12">
          <input class="ttl col s12 name-field"
                 [(ngModel)]="product.name" (change)="setTechName(product.name)" type="text" placeholder="Type Name">
        </div>
        <div class="col s12">
          <div class="technical-name-container">
            <input class="ttl col s12 name-field"
                   [(ngModel)]="product.technical_name" type="text" placeholder="Technical Name">
            <fa [name]="'question-circle'" (click)="openHelperModal()"></fa>
            <div class="clearfix"></div>
          </div>
          <div class="checkbox-container">
          </div>
        </div>
        <div class="row checks">

          <div class="col s4">
            <div class="input-checkbox checkbox">
              <input
                type="checkbox"
                class="checkbox-input"
                [(ngModel)]="product.hazardous"
                id="hazardous"
              />
              <label for="hazardous"></label>
              <div class="checkbox-container">
                <label>Hazardous</label>
              </div>
            </div>
          </div>

          <div class="col s4">
            <div class="input-checkbox checkbox">
              <input
                type="checkbox"
                class="checkbox-input"
                [(ngModel)]="product.trackable"
                id="trackable"
              />
              <label for="trackable"></label>
              <div class="checkbox-container">
                <label>Trackable</label>
              </div>
            </div>
          </div>

          <div class="col s4">
            <div class="input-checkbox checkbox">
              <input
                type="checkbox"
                class="checkbox-input"
                [(ngModel)]="product.tax_exempt"
                id="tax_exempt"
              />
              <label for="tax_exempt"></label>
              <div class="checkbox-container">
                <label>Tax Exempt</label><fa [name]="'question-circle'" (click)="openHelperModal()"></fa>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col input s12 m4">
            <label>Department</label>
            <div class="select">
              <select
                [(ngModel)]="product.department"
                materialize="material_select"
                [materializeSelectOptions]="departmentCollection">
                <option *ngFor="let item of departmentCollection" [value]="item">{{item}}</option>
              </select>
            </div>
          </div>

          <div class="col input s12 m4">
            <label>Category</label>
            <div class="select">
              <select
                [(ngModel)]="product.category"
                materialize="material_select"
                [materializeSelectOptions]="productCategoriesCollection">
                <option value="">N/A</option>
                <option *ngFor="let cat of productCategoriesCollection" [value]="cat">{{cat}}
                </option>
              </select>
            </div>
          </div>

          <div class="col input s12 m4">
            <label>Accounting</label><fa [name]="'question-circle'" (click)="openHelperModal()"></fa>
            <div class="select">
              <select
                [(ngModel)]="product.accounting_category"
                materialize="material_select"
                [materializeSelectOptions]="productAccountingCollection">
                <option *ngFor="let acc of productAccountingCollection" [value]="acc">{{acc}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="file-list">
              <div class="item flex-doc" *ngFor="let file of product.attachments; let i = index;">
                <a class="flex" href="{{file.public_url}}" target="_blank" *ngIf="file.public_url">
                  {{file.file_name}}
                </a>
                <fa name="trash" (click)="removeFile(i)"></fa>
              </div>
            </div>
            <div class="text">
              <div class="file-field">
                <div class="upload-link">
                  <input type="file" (change)="changeListener($event)" multiple />
                  <a>Attach File</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p>Notes / Comments</p>
        <textarea rows="6" cols="" name="comment" placeholder="" [(ngModel)]="product.notes"></textarea>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <ng-container *ngIf="step == 1">
    <div class="row center-align">
      <div class="col s12 title">
        {{product.name}}
      </div>
      <div class="col s12 title">
        Variants
      </div>
    </div>

    <div class="row">
      <div class="col s12 flex">
        <div class="col s4 m2" *ngFor="let variant of productVariants; let index = index;">
          <div class="wrap">
            <div class="input search select">
              <input type="text"
                     class="center-align"
                     auto-complete
                     [source]="dummyProductVariants"
                     [accept-user-input]="true"
                     placeholder="Type"
                     [(ngModel)] = 'variant.name'
              >
              <fa name="angle-down"></fa>
            </div>
            <div *ngFor="let attr of productVariants[index].values; let i = index;" class="product-variant">
              <input type="text" [(ngModel)]="productVariants[index].values[i]">
              <fa name="times-circle" (click)="deleteItem(variant.values, i)"></fa>
            </div>
            <div class="product-variant">
              <input type="text" [(ngModel)]="variant.newName"
                     (keydown.enter)="addVariant(variant.newName, index)"
                     placeholder="Add another {{ variant.name | capitalizeFirst}}">
            </div>
            <fa name="times-circle" class="hide-by-opacity" (click)="deleteVariant(index)"></fa>
          </div>
        </div>
        <div class="col s4 m2">
          <div class="wrap">
            <div class="select">
              <input class="center-align" type="text"
                     auto-complete
                     placeholder="Variant name"
                     [(ngModel)]="newVariant"
                     [source]="availableVariants"
                     [accept-user-input]="true"
                     (keydown.enter)="onProductVariantSelect(newVariant)">
              <fa name="plus-circle" (click)="onProductVariantSelect(newVariant)"></fa>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="step == 2">
    <div class="row">
      <div class="col s11">
        <app-vendor-search (vendorChosen)="onVendorChosen($event)"></app-vendor-search>
      </div>
      <div class="col s1">
        <button class="bluebtn waves-light waves-effect">
          <fa [name]="'plus'"></fa>
          Add Vendor
        </button>
      </div>
    </div>

    <app-product-variant
      *ngFor="let vendor of product.vendor_variants; let i = index"
      [vendor]="vendor"
      (vendorDelete)="onVendorDelete(i)">
    </app-product-variant>
  </ng-container>
</div>
