<div class="close" (click)="dismissModal()"></div>
<div class="inner">
  <div class="left" *ngIf="modalState === 0">
    <div class="title center-align"><span>SEARCH</span></div>
    <div class="row search relative">
      <i class="fa fa-search"></i>
      <input id="search" [(ngModel)]="searchText" (ngModelChange)="searchProducts($event)">
      <app-scanner></app-scanner>
    </div>
    <div class="info"><span>Search by inventory group name, product name, keyword, id number, etc</span></div>
    <div  *ngIf="inventories.length > 0">
      <div *ngFor="let inventory of inventories; let i = index">
        <div class="row product" (click)="toGoModal(1, i)">
          <div class="preview">
            <img src="{{inventory.image}}" alt="PRODUCT" class="icon" />
          </div>
          <div class="description">
            <div class="bold">{{inventory.name}}</div>
            <div class="thin">{{inventory.notes}}&nbsp;</div>
            <div class="thin mrg-top-10">{{inventory.inventory_products.length}} Products</div>
          </div>
          <div class="arrow">
            <i class="fa fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="middle" *ngIf="modalState === 1">
    <div class="nav fa fa-chevron-left" (click)="toGoModal(0)"></div>
    <div class="title center-align"><span>SUBTRACT FROM INVENTORY</span></div>
    <div class="row description">
      <div class="preview">
        <img src="{{inventory.image}}" alt="PRODUCT" class="icon" />
      </div>
      <div class="content">
        <div class="bold">{{inventory.name}}</div>
        <div class="thin">{{inventory.notes}}</div>
        <div class="col s12 line-header">
          <div class="col s4">
            <div class="row">Department</div>
            <div class="row">{{inventory.department}}</div>
          </div>
          <div class="col s4 center-align"><div class="left-align">
            <div class="row">Category</div>
            <div class="row">{{inventory.category}}</div></div>
          </div>
          <div class="col s4 right-align"><div class="left-align">
            <div class="row">Accounting</div>
            <div class="row">{{inventory.account_category}}</div></div>
          </div>
        </div>
        <div class="col s12">
          <range-slider [product]="inventory.inventory_item_locations[location]"></range-slider>
        </div>
      </div>
    </div>
    <div class="row location select">
      <span class="bold">Location</span>
      <select title="sort by" [(ngModel)]="location" materialize="material_select" (change)="locationSort($event)">
        <option *ngFor="let location of inventory.inventory_item_locations; let i = index" [value]="i">{{location.name}}</option>
      </select>
    </div>
    <div class="row location select">
      <span class="bold">Product Variant</span>
      <select title="sort by" [(ngModel)]="productVariant" materialize="material_select" (change)="productChange($event)">
        <option *ngFor="let product of inventory.inventory_products; let i = index" [value]="i">{{product.name}}</option>
      </select>
    </div>
    <div class="row subtracting select">
      <span class="bold">What are you subtracting?</span>
      <div class="line">
        <select title="sort by" [(ngModel)]="subtracting" materialize="material_select" (change)="subtractingSort($event)">
          <ng-container *ngFor="let item of inventory.inventory_products[productVariant].inventory_by">
            <option *ngIf="item.value && item.label" [value]="item.value">{{item.label}}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="row backstock">
      <div class="stock-row bold">Backstock</div>
      <div class="stock-row bold">QTY</div>
    </div>
    <ng-container *ngFor="let item of inventory.inventory_item_locations[location].storage_locations">
      <ng-container *ngIf="!item.floorstock && item.on_hand">
        <div class="row backstock">
          <div class="stock-field thin">{{item.name}}</div>
          <div class="stock-field thin">
            <input type="number" [(ngModel)]="item.value" (ngModelChange)="backstockClicks(item, 0)">
            <button class="action-button" [disabled]="item.value >= item.on_hand" (click)="backstockClicks(item, 1)">
              <fa name="plus"></fa>
            </button>
            <button class="action-button right-align" (click)="backstockClicks(item, -1)">
              <fa name="minus"></fa>
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div class="row submit">
      <div
        class="btn white-text waves-effect waves-light"
        (click)="toGoModal(2)">
        Submit
      </div>
    </div>
  </div>
  <div class="right" *ngIf="modalState === 2">
    <div class="title center-align"><span>SUCCESS!</span></div>
    <div class="center-align">Your inventory has been updated</div>
    <div class="preview">
      <img src="{{inventory.image}}" alt="PRODUCT" class="icon" />
    </div>
    <div class="center-align bold">
      <span>{{inventory?.name}}</span>
    </div>
    <div class="center-align">
      <span>{{inventory?.notes}}&nbsp;</span>
    </div>
    <div class="slider-container">
      <range-slider [product]="inventory.inventory_item_locations[location]"></range-slider>
    </div>
    <div class="row submit">
      <div
        class="btn white-text waves-effect waves-light left" (click)="closeModal()">
        I'M DONE
      </div>
      <div
        class="btn white-text waves-effect waves-light right" (click)="toBackInitial()">
        WORK ON ANOTHER PRODUCT
      </div>
    </div>
  </div>
</div>
